name: ci-test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13
        env:
          PGUSER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: gotest
        ports:
          - 5432:5432

      kafka:
        image: apache/kafka:latest
        ports:
          - 49092:9092
        env:
          KAFKA_NODE_ID: 1
          KAFKA_PROCESS_ROLES: broker,controller
          KAFKA_LISTENERS: PLAINTEXT://:19092,PLAINTEXT_HOST://:9092,CONTROLLER://localhost:9093
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:19092,PLAINTEXT_HOST://localhost:49092
          KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
          KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
          KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        options: >-
          --health-cmd "/opt/kafka/bin/kafka-topics.sh --bootstrap-server localhost:19092 --list"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5

    steps:

    - name: Set up Go 1.23.x
      uses: actions/setup-go@v5
      with:
        go-version: ^1.23

    - name: Checkout
      uses: actions/checkout@v4

    - name: Run migrations
      run: |
        curl -L https://github.com/golang-migrate/migrate/releases/download/v4.14.1/migrate.linux-amd64.tar.gz | tar xvz
        ./migrate.linux-amd64 -path migrations -database "postgres://postgres:postgres@localhost:5432/gotest?sslmode=disable" -verbose up

    - name: Create kafka topic
      run: |
        KAFKA_CONTAINER_NAME="$(docker ps -f name=kafka -q)"
        docker exec -t $KAFKA_CONTAINER_NAME /opt/kafka/bin/kafka-topics.sh \
            --create \
            --topic items \
            --if-not-exists \
            --bootstrap-server kafka:19092

    - name: Test
      run: go test -tags=integration -v -cover -coverprofile=coverage.out ./...
